Package: hostapd
Version: 20131120-1
Depends: libc, libnl-tiny, libubus
Provides: 
Source: package/hostapd
Section: net
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: OpenWrt Developers Team <openwrt-devel@openwrt.org>
Architecture: ar71xx
Installed-Size: 239681
Description:  This package contains a full featured IEEE 802.1x/WPA/EAP/RADIUS
 Authenticator.
