Package: hostapd-utils
Version: 20131120-1
Depends: libc
Provides: 
Source: package/hostapd
Section: net
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: OpenWrt Developers Team <openwrt-devel@openwrt.org>
Architecture: ar71xx
Installed-Size: 16164
Description:  This package contains a command line utility to control the
 IEEE 802.1x/WPA/EAP/RADIUS Authenticator.
